@using MessageBoard1.Models
@model List<MyUser>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowUserList</title>
</head>
<body>
    @Html.Partial("AdminHeader")
    <div style="text-align:center"> 
        <h3>@ViewData["Message"]</h3>
        <div id="UserListDiv" style="text-align:center;">
            <table id="UserListTable">
                <tr>
                    <th>用户id</th>
                    <th>用户名</th>
                    <th>密码</th>
                    <th>手机号码</th>
                    <th>关注时间</th>
                    <th>删除</th>
                    <th>编辑</th>
                    <th>查看留言</th>
                </tr>
                @foreach(MyUser user in Model) {
                    <tr>
                        <td class="IdTd">@user.Id</td>
                        <td class="UsernameTd">@user.Username</td>
                        <td class="PasswordTd">@user.Password</td>
                        <td class="PhoneNumTd">@user.PhoneNum</td>
                        <td class="DateTd">@user.SignDate.ToString("yyyy/MM/dd")</td>
                        <td><button class="DeleteBtn">删除</button></td>
                        <td><button class="EditBtn">编辑</button></td>
                        <td><button class="LookMessageBtn">查看留言</button></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>
