@using MessageBoard1.Models
@model Message
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditMessage</title>
    <link type="text/css" rel="stylesheet" href="~/css/global.css"/>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(document).ready(function () {
            //验证表单
            $("#MsgForm").submit(function (e) {
                var errorInfo = "";     //记录错误信息
                var title = $("#Title").val();
                var content = $("#Content").val();

                if (/^\s*$/.test(title)) { //判断字符串是否全是空格或为空
                    errorInfo += "标题不能为空\n";
                }
                if (/^\s*$/.test(content)) {   //判断字符串是否全是空格或为空
                    errorInfo += "内容不能为空\n";
                }
                if (errorInfo != "") {
                    alert(errorInfo);
                    e.preventDefault(); //取消事件的默认动作，即取消提交
                }
            });
        });
    </script>
</head>
<body>
    @{Html.RenderAction("GetUserHeader", "MyUser");}
    @Html.Partial("UserCenterHeader")
    <div>
        <h3>@ViewData["Message"]</h3>
        <div class="MsgDiv">
            <form style="width: 100%;" method="post" action="/MyUserCenter/ChangeMessage" id="MsgForm">
                <input type="text" name="Id" value="@Model.Id" style="display:none"/>
                <input type="text" name="Title" id="Title" value="@Model.Title"/>
                <div class="AuthorInfoDiv"><span class="UserName">@Model.Username</span><span class="MsgDate">@Model.DateTime.ToString("yyyy-MM-dd hh:mm:ss")</span></div>
                <textarea rows="12" name="Content" style="margin-top:0" id="Content">@Model.Content</textarea>
                <input class="ConfirmBtn" type="submit" value="修改" />
            </form>
            <h4>回复</h4>
            @foreach (var reply in Model.Replies) {
                <div class="ReplyDiv">
                    <div><span class="AdminName">@reply.AdminName</span><span class="ReplyDate">@reply.DateTime.ToString("yyyy-MM-dd hh:mm:ss")</span></div>
                    <div class="ReplyContent">@reply.Content</div>
                </div>
            }
        </div>
    </div>
</body>
</html>
